.cardTableApproveUserBody{
    width: 1600px;
    height: 100%;
    border-radius: 20px;
    background-color: white;
}

.cardTableApproveUserTopOptions{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 40px;
}

.cardTableApproveUserTopOptions .cardTableApproveUserInput{
    padding-right: 250px;
}

.cardTableApproveUserCustomization{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.cardTableApproveUserInput{
    margin-left: 50px;
}

.cardTabelApproveUserButton{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.cardTableApproveUserUniqueBtn{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 35px;
    background-color: #13B7BA;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    border-style: none;
    border-color: none;
    display: block;
    border: none;
    outline: none;
}

.cardTableApproveUserUniqueBtn:hover{
    background-color: #119E9F;
    border: none;
    display: block;
    border: none;
    outline: none;
}

.cardTableApproveUserCustomization thead tr th{
    color: #119E9F;
    font-weight: bold;
    width: 200px;
}

.cardTableApproveUserCustomization thead tr{
    display: flex;
    justify-content: space-around;
}

.cardTableApproveUserCustomization tbody{
    padding-top: 10px;
    margin-bottom: 25px;
}

.cardTableApproveUserCustomization tbody hr{
    border-style: inset;
    border: 1px solid #119f9f31;
    border-radius: 5px;
    margin: 0 35px;
}

.cardTableApproveUserCustomization .td-button div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardTableApproveUserCustomization thead hr{
    border-style: inset;
    border: 1px solid #119f9f31;
    border-radius: 5px;
    margin: 0 35px;
}

.cardTableApproveUserCustomization td{
    color: #119E9F;
    text-align: center;
    width: 250px;
    padding: 10px 0;
}

.cardTableApproveUserTd{
    padding-right: 3px;
}

/*********************************************************************************************************** */

@media (min-width: 1366px) {    
    .cardTableApproveUserBody{
        width: 1300px;
        height: 100%;
        border-radius: 20px;
        background-color: white;
    }
    
    .cardTableApproveUserTopOptions{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    
    .cardTableApproveUserTopOptions .cardTableApproveUserInput{
        padding-right: 250px;
    }
    
    .cardTableApproveUserCustomization{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .cardTableApproveUserInput{
        margin-left: 50px;
    }

    .cardTabelApproveUserButton{
        display: flex;
        justify-content: space-evenly;
        width: 400px;
    }

    .cardTableApproveUserUniqueBtn{
        display: flex;
        justify-content: center;
        width: 200px;
        height: 35px;
        background-color: #13B7BA;
        border-radius: 7px;
        font-size: 20px;
        color: white;
        border-style: none;
        border-color: none;
        display: block;
        border: none;
        outline: none;
    }

    .cardTableApproveUserUniqueBtn:hover{
        background-color: #119E9F;
        border: none;
        display: block;
        border: none;
        outline: none;
    }
    
    .cardTableApproveUserCustomization thead tr th{
        color: #119E9F;
        font-weight: bold;
        width: 200px;
    }
    
    .cardTableApproveUserCustomization thead tr{
        display: flex;
        justify-content: space-around;
    }
    
    .cardTableApproveUserCustomization tbody{
        padding-top: 10px;
        margin-bottom: 25px;
    }
    
    .cardTableApproveUserCustomization tbody hr{
        border-style: inset;
        border: 1px solid #119f9f31;
        border-radius: 5px;
        margin: 0 35px;
    }
    
    .cardTableApproveUserCustomization .td-button div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .cardTableApproveUserCustomization thead hr{
        border-style: inset;
        border: 1px solid #119f9f31;
        border-radius: 5px;
        margin: 0 35px;
    }
    
    .cardTableApproveUserCustomization td{
        color: #119E9F;
        text-align: center;
        width: 220px;
        padding: 10px 0;
    }
    
    .cardTableApproveUserTd{
        padding-right: 3px;
    }
}