.smallSearchInput {
    background: url(../../../assets/images/search_icon-blue.png) no-repeat scroll 15px 11px;
    background-size: 20px;
    border-radius: 2.5em;
    background-color: white;
    height: 40px;
    width: 540px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
    padding-left: 45px;   
    color: #119E9F;

    display: flex;
    flex-direction: column;
}

.smallSearchInputHollow {
    background: url(../../../assets/images/search_icon-blue.png) no-repeat scroll 15px 8px;
    background-size: 20px;
    border-radius: 2.5em;
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: 540px;
    outline: none;
    border-width: 3px;
    border-style: solid;
    border-color: #119E9F;
    padding-left: 45px;   
    color: #119E9F;
    display: flex;
    flex-direction: column;
}

.smallSearchInput::-webkit-input-placeholder{
    color: #119E9F;
 }
  
 .smallSearchInput:-moz-placeholder{ /* Firefox 18- */
    color: #119E9F;  
 }
  
 .smallSearchInput::-moz-placeholder{  /* Firefox 19+ */
    color: #119E9F;  
 }
  
 .smallSearchInput:-ms-input-placeholder {  
    color: #119E9F;  
 }

 
 .smallSearchInputHollow::-webkit-input-placeholder{
   color: #119E9F;
}
 
.smallSearchInputHollow:-moz-placeholder{ /* Firefox 18- */
   color: #119E9F;  
}
 
.smallSearchInputHollow::-moz-placeholder{  /* Firefox 19+ */
   color: #119E9F;  
}
 
.smallSearchInputHollow:-ms-input-placeholder {  
   color: #119E9F;  
}