.clientDetailBody{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 50px;
}

.clientDetailInternalBody{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.clientDetailContracts{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.listingClientAllInformations{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListingClientButton{
    margin-top: 20px;
    width: 235px;
}

.listingClientMidleCard{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientDetailNoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    color: #119E9F;
}

.clientDetailNoList h1, .clientDetailNoList h2 {
    margin-bottom: 15px;
}
